[submodule "bucash"]
	path = bucash
	url = git@github.com:BitcoinUnlimited/BitcoinUnlimited.git
[submodule "abc"]
	path = abc
	url = https://reviews.bitcoinabc.org/source/bitcoin-abc.git
[submodule "xt"]
	path = xt
	url = git@github.com:bitcoinxt/bitcoinxt
[submodule "classic"]
	path = classic
	url = git@github.com:bitcoinclassic/bitcoinclassic
